/* Reset default browser styles */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, ul, ol, li, a, form, label, input, textarea, footer {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #FDF0ED; /* Pink */
    color: #000; /* Black */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
.header {
    background-color: #FFD700; /* Gold */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}

.logo {
    height: 50px;
}

.nav {
    float: right;
}

.nav-list {
    list-style: none;
}

.nav-item {
    display: inline-block;
    margin-left: 20px;
}

.nav-link {
    color: #000; /* Black */
    text-decoration: none;
    font-weight: bold;
}

/* Shop Section */
.shop {
    padding: 80px 0;
}

.shop-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    background-image: linear-gradient(pink, Gold);
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    width: calc(25% - 20px); /* Adjust the width of each product item */
    margin-bottom: 40px;
    text-align: center;
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-name {
    margin-top: 10px;
    font-weight: bold;
}

.product-description {
    margin-top: 5px;
}

.product-price {
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFD700; /* Gold */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #FFC100; /* Lighter Gold */
}

/* Footer */
.footer {
    background-color: #000; /* Black */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}